# INFO: [Structure]
#       # example = comment
#       default = true

# [*.{foo,bar}]
[*]

indent_style = tab
# indent_style = space
# indent_size = 6
indent_size = 4

# [other]
# indent_style = space
# indent_size = 7
